################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HostEditor/bin/Debug
/HostEditor/obj/Debug
/packages/EntityFramework.6.1.3
